<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justine's Ether</title>
    <link rel="stylesheet" href="css/mystyle.css?version=0.2">
    <link rel="stylesheet" href="css/style.css?version=0.2">
    <link rel="stylesheet" href="css/pink.css?version=0.1">
    <link rel="stylesheet" href="css/images.css?version=0.1">
    <link rel="stylesheet" href="css/shopping.css?version=0.2"> 
</head>
<body>

    <!-- Navigation Bar -->
    <header>
        <nav>
            <ul class="nav-bar">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="interests.html">Interests</a>
                </li>
                <li>
                    <a href="gallery.html">Gallery</a>
                </li>
                <li>
                    <a href="resources.html">Resources</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-background"></div>
        <div class="hero-content">
            <h1 class="hero-title"><i>Welcome to the Ether</i></h1>
            <p class="hero-subtitle">— where thoughts can fleet and find its solace —</p>
            <!-- <a class="hero-button" href="about.html" >uhm</a> -->
            <div class="hero-icon">
                <a href="https://tamanotchi.world/9607c">
                <img src="https://tamanotchi.world/i/9607" 
                    alt="It's tamaNOTchi! Click to feed!"> 
                </a>
                <span class="hero-tooltip">Feed Me!</span>
            </div>
        </div>
    </section>
    </div>
        <!--
        <h2 class="goals-in-life">Goals in Life</h2>
            To be a software developer <br>
            To fulfill true peace and happiness <br>
            To achieve financial stability <br>
            To strive for excellence <br>
            <s><i style="color:lightblue">To have a homelab server perhaps</i></s><br>
        -->        
  
<div id="app">
    {{ message }}
    <div v-bind:class="vueClass">This element is bound to the "pinkBG" class.</div>
</div>
    
<div id="app2">
    <div>
        <figure v-for="x in manyFoods">
        <img v-bind:src="x.url">
        <figcaption>{{ x.name }}</figcaption>
        </figure>
    </div>    
</div>

<div id="app3">
    <form v-on:submit.prevent="addItem">
      <p>
        What do you need? <br>
        <input type="text" required placeholder="item name.." v-model="itemName">
      </p>
      <p>
        How many? <br>
        <input type="number" placeholder="number of items.." v-model="itemNumber">
      </p>
      <p>
        Important?
        <label>
          <input type="checkbox" v-model="itemImportant">
          {{ itemImportant }}
        </label>
      </p>
      <button type="submit">Add item</button>
    </form>
    <br>
    <hr>
    <div>
      <p><strong>Shopping list:</strong></p>
      <ul id="ulToFind">
        <li 
          v-for="item in shoppingList" 
          v-bind:class="{ impClass: item.important }"
          v-on:click="item.found=!item.found"
          v-show="!item.found">
            {{ item.name }}, {{ item.number}}
        </li>
      </ul>
      <ul id="ulFound">
        <li 
          v-for="item in shoppingList" 
          v-bind:class="{ impClass: item.important }"
          v-on:click="item.found=!item.found"
          v-show="item.found">
            {{ item.name }}, {{ item.number}}
        </li>
      </ul>
    </div>
  </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/images.js"></script>
    <script src="js/shopping.js"></script>


</body>
</html>